.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.caller {
    width: 45vw;
    height: 15vh;
    background-color: black;
    border-radius: 16px;
    color: white;
    font-size: x-large;
}

table {
    border: solid rebeccapurple 1px;
    width: 80vw;
}

tr:nth-child(1) {
    background-color: black;
    color: white;
    height: 10px;
    font-size: 2.5rem;
}

tr {
    height: 2rem;
    font-size: 1.5rem;
}


td {
    text-align: center;
    border: black solid 1px;
}